/* print styles */
@media print {
  #tcanvas,
  .n-print {
    display: none !important;
  }
  #line-header thead th {
    border-right: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
  }
  tbody tr th,
  tbody tr td {
    border: 1px solid #000 !important;
    background: #fff !important;
  }
  #canvasChart {
    width: 350px !important;
  }
  main {
    padding: 0rem !important;
  }
  div .m-4 {
    margin: 0 !important;
  }
}
